<div class="container">
  <app-popup-alert></app-popup-alert>
  <div class="search-bar-container">
    <input class="form-control search-bar"
           matInput (keyup)="applyFilter($any($event).target.value); resetIndex($any($event).target.value)"
           aria-label="Sizing example input"
           aria-describedby="inputGroup-sizing-lg"
           placeholder="Search">
  </div>
  <div class="table-paginated-container">
    <div #tableContainer class="mat-elevation-z8 table-container">
      <mat-table class="table-style" [dataSource]="dataSource" matSort multiTemplateDataRows>

        <!-- Element Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell class="th-cell-style" *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell class="td-style" *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>

        <!-- Element Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell class="th-cell-style" *matHeaderCellDef mat-sort-header>Symbol</mat-header-cell>
          <mat-cell class="td-style" *matCellDef="let row">{{row.symbol}}</mat-cell>
        </ng-container>

        <!-- Element Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell class="th-cell-style" *matHeaderCellDef mat-sort-header>Weight</mat-header-cell>
          <mat-cell class="td-style" *matCellDef="let row">{{row.weight}}</mat-cell>
        </ng-container>

        <!-- Element Action Column - Edit -->
        <ng-container matColumnDef="editAction">
          <mat-header-cell class="th-cell-style" *matHeaderCellDef>&#8203;</mat-header-cell>
          <mat-cell class="td-style-button" *matCellDef="let row">{{row.editAction}}
            <app-icon-button title="Edit" (click)="editItemOnClick(row)"
                             [buttonIcon]="'assets/icons/edit-icon.svg'"
            ></app-icon-button>
          </mat-cell>
        </ng-container>

        <!-- Tenant Actions Column (delete) -->
        <ng-container matColumnDef="deleteAction">
          <mat-header-cell class="th-cell-style" *matHeaderCellDef>&#8203;</mat-header-cell>
          <mat-cell class="td-style-button" *matCellDef="let row">{{row.deleteAction}}
            <app-icon-button title="Delete" (click)="deleteItemOnClick(row)"
                             [buttonIcon]="'assets/icons/delete-icon.svg'"
            ></app-icon-button>
          </mat-cell>
        </ng-container>

        <!-- Element description - Expanded Column -->
        <ng-container matColumnDef="expandedDetail">
          <mat-cell class="extended-td-style" *matCellDef="let row"
                    [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail"
                 [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-diagram">
                <div class="example-element-symbol"> {{row.symbol}} </div>
                <div class="example-element-name"> {{row.name}} </div>
                <div class="example-element-weight"> {{row.weight}} </div>
              </div>
              <div class="example-element-description">
                {{row.description}}
                <span class="example-element-description-attribution"></span>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Display table -->
        <mat-header-row class="th-style" *matHeaderRowDef="columnsToDisplayWithExpand"></mat-header-row>
        <mat-row class="tr-style" *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                 [class.example-expanded-row]="expandedElement === element"
                 (click)="expandedElement = expandedElement === element ? null : element"></mat-row>
        <mat-row class="extended-tr-style" *matRowDef="let row; columns: ['expandedDetail']"></mat-row>
      </mat-table>
    </div>
    <div class="mat-elevation-z8 pagination-container">
      <div class="input-container">
        <span class="text-info-style">Page size</span>
        <div class="input-style">
          <input type="number" class="input-style" (change)="pageSizeChanged($event.target)"
                 [value]="pageSize" min="{{minPageSize}}" max="{{maxPageSize}}" step="10">
        </div>
      </div>
      <app-pagination
        [pageSize]="pageSize"
        showFirstLastButtons
        hidePageSize="true"
        (page)="setPage()">
      </app-pagination>
    </div>
  </div>
</div>


